@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* para que el tamaño encaje bien al reducir*/
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.contenedor{
    width: 98%;
    margin: auto;
}
/*Solo para que sea el contenedor que esta dentro de header*/
header .contenedor{
    display: table;
}

h1{
    float: left;
}
section{
    width: 100%;
    margin-bottom: 25px;
}
#bienvenidos {
   text-align: center;
    padding: 70px;
    
    
   
}
#bienvenidos p{
    font-size: 20px;
    text-align: justify;
}
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
    
}
.sociales a{
    color:#333;
    text-decoration: none;
    
}

.copy{
    font-size: 20px;
}
/*barra de menu*/
#menu-bar{
    display:none;
    
}


header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
/*solo por el moemnto para no verlo*/
.icon-menu{
    float: left;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%)

}


.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.menu a:hover{
    background: rgba(255,255,255,0.3);
}
#menu-bar:checked~ .menu{
    transform: translateX(0%);
}
.menu li{
    list-style: none;
    
}





    







/* banner*/
#banner{
    margin-top: 50px;
    
}
#banner img{
    width: 100%;
    height: 100%;
}
#banner .contenedor{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:#fff;
    
}
#banner h2{
    font-size: 28px;
}
#banner a{
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top:10px;
    border:3px solid #fff;
}
#banner a:hover{
    background: rgba(51,51,51,0.5)
}

#banner_nosotros{
    justify-content: center;
    display: flex
    
}

/*blog info-info*/
#informacion h3,h4{
    text-align: center;
}

#informacion .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

#informacion article{
    margin: 15px;
    
}
#informacion img{
     width: 100%;
     max-width: 280px;
}



/* Imagenes de info*/
#info{
    background: #333;
    color: #fff;
    text-align: center;
}
#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-info{
    margin: 20px;
}

.info-info img{
    width: 180px;
    height: 180px;
    border-radius:  50%;
    border: 7px solid #fff;
}


@media(min-width:480px){
    .info-info{
        width: 40%;
    }
}


@media(min-width:1024px){
    .info-info{
        width: auto;
    }
}




/*Responsive barra de menu*/

@media(min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a{
        border: none;
    }
    header label{
        display: none;
    }
    /*Submenu*/

   ul, ol {
				list-style:none;
			}
			
			.menu > li {
				float:left;
			}
   
			
			.menu li a {
				display: block;
            color: #fff;
            height: 50px;
            text-decoration: none;
            padding: 15px;
            border-bottom: 1px solid rgba(255,255,255,0.5);
                
			}
			
			.menu li a:hover {
				background: rgba(255,255,255,0.3);
			}
			
			.menu li ul {
				display:none;
				position:absolute;
				min-width:140px;
                background: #434343;
			}
			
			.menu li:hover > ul {
				display:block;
			}
			
			.menu li ul li {
				position:relative;
			}
			
			.menu li ul li ul {
				right:-140px;
				top:0px;
			}
}
    /* logo*/

/*360 responsive logo*/
@media(min-width:360px){
  
    .logo img{width: 70%;
        height: 40%;
        position: absolute ;
        padding: 2%
    }
  
    
    
}

@media(min-width:1024px){
    .logo img{
        width: 40%;
        padding: 4%;
        height: 50%;
    }
}
@media(min-width:730px){
    .logo img{
        width: 40%;
        padding: 4%;
        height: 50%;
    }
}







/* desaparecer el texto*/
@media(min-width:1024px){
    h1{
        display: none;
    }
}



    


    
  
   

 /*Responsive */
@media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}

/*360 responsive texto */
@media(min-width:360px){
   #banner{
    margin-top: 50px;
    
}
#banner img{
    width: 100%;
    height: 100%;
}
#banner .contenedor{
    position: absolute;
    top:25%;
    left: 50%;
    
    
}
    
    

}
/*tablet*/
@media(min-width:480px){
    #banner h2{
        font-size: 40px;
    }
     #banner a{
        margin-top: 25px;
    }
}


@media(min-width:768){
    #banner{
        height: 300px;
        overflow: hidden;
    }
    #banner img{
        height: auto;
        margin-top: -100px;
    }
}

@media(min-width:1024){
  
    
    #banner img{
      
        margin-top: -200px;
    }
}
/*Finaliza los responsive del banner*/

@media (min-width:768px){
    .sociales{
        width: auto;
    }
    footer .contenedor{
        justify-content: space-between;
    }
    
}


/* slider-----------------*/

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 300%;
	
	animation: cambio 20s infinite alternate;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
   
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	

}

/*mapa */

    

    
.mapa h2{
    font-size: 26px;
    text-align: center;
}

.mapa p{
    font-size: 20px;
    text-align: left;
}
.mapa iframe{
    padding:3%;
    display: block;
    
}
    
    
    


@media(min-width:360px){
   .mapa{

    text-align: center;
    
}
    .mapa h2,p{
    width: 100%;
    height: 100%;
    text-align: center;
    
}
    .mapa iframe{
        align-content: center;
       
        
    }
   
}








